.roundTitle {
    position: absolute;
    top: 36px;
    left: -27px;
    width: max-content;
}
.roundTitle2 {
    position: absolute;
    top: 36px;
    left: -48px;
    width: max-content;
}
.box{
width: 600px;
margin-left: 440px;
margin-right: auto;
padding: 20px 35px;
}
.box1{
    width:1100px;
    height:220px;
    margin:67px 20px 20px 170px;
    padding:10px 10px 10px 10px;

}
.box2{
    width:1100px;
    height:40px;
    margin:20px 20px 20px 170px;
    padding:10px 10px 10px 10px;

}
.flow{
    border-radius:'50%';
    background-color:'#29c247';
    height:'30px';
    width:'30px';
    display:'inline-block';
    margin:'0px';
    position:"relative";
    border:'7px solid #bbb';
}